apiVersion: v1
data:
  IP_APP_IS_SECURE: 'false'
  kibana.yml: |-
    elasticsearch.username: kibana_system
    elasticsearch.password: kibana
    server.port: 5601
    server.host: "0.0.0.0"
    elasticsearch.hosts: [ "http://elasticsearch-logging:9201" ]
  logstash.yml: |
    http.host: "0.0.0.0"
    path.config: /usr/share/logstash/pipeline
  logstash.conf: |
    input {
      tcp {
        port => 5044
        codec => json
        type => "tcp-input"
      }
    }
    
    filter {
      if [mdc][request_id] {
        mutate {
          add_field => {"request_id" => "%{[mdc][request_id]}"}
        }
      }
    }

    output {
      elasticsearch {
        hosts => ["elasticsearch-logging:9201"]
        user => "elastic"
        password => "elastic"
      }
      stdout {
        codec => rubydebug {
            metadata => true
        }
      }
    }
kind: ConfigMap
metadata:
  name: ip-app-elk-configmap