apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ip-app-attachment-data-pvc
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  volumeName: ip-app-attachment-data-pv-95
