apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ip-app-gateway-nginx-static-pvc
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeName: ip-app-gateway-nginx-static-pv-95
