apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ip-app-logic-templates-pvc
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  volumeName: ip-app-logic-templates-pv-95
