apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  labels:
    app: logstash
spec:
  replicas: 1
  template:
    metadata:
      name: logstash
      labels:
        app: logstash
    spec:
      containers:
        - name: logstash
          image: ip-k8s-lcm01:5000/logstash:8.13.4
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5044
          volumeMounts:
            - name: config
              mountPath: /usr/share/logstash/config
            - name: pipeline
              mountPath: /usr/share/logstash/pipeline
      restartPolicy: Always
      volumes:
        - name: config
          configMap:
            name: ip-app-elk-configmap
            items:
              - key: logstash.yml
                path: logstash.yml
        - name: pipeline
          configMap:
            name: ip-app-elk-configmap
            items:
              - key: logstash.conf
                path: logstash.conf
  selector:
    matchLabels:
      app: logstash
